* {
   margin: 0;
   padding: 0;
}

html {
   background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
	background-size: 20px 20px;
   font-size: 20px;
	background-position: center center;
   font-family: sans-serif;
}

$color-text: gray;
%border-type {
   border: 1px solid black;
   border-radius: 10px;
}

.news {
   @extend %border-type;
   background-color: white;
   padding: 20px 10px;
   margin: 30px auto;
   min-width: 400px;
   max-width: 600px;
   display: grid;
   grid-template-columns: 3fr 1fr;
   position: relative;


   .news__title {
      font-size: larger;
      font-weight: normal;
   }

   .news__update {
      all: unset;
      text-align: end;
      text-decoration-line: underline;
      font-size: large;
      cursor: pointer;

      &:hover {
         color: red;
      }
   }

   .news__tape {
      margin-top: 15px;
      grid-column-start: 1;
      grid-column-end: 3;
      
      .tape__ticket {
         margin-top: 20px;
         width: 100%;

         .ticket__date {
            max-width: 40%;
            display: block;
         }

         .ticket__text {
            margin-top: 15px;
            width: 100%;
            display: block;
         }
      }
   }

   .popup {
      @extend %border-type;
      border-color: transparent;
      position: absolute;
      height: 100%;
      background-color: #ffffffc9;
      box-sizing: border-box;
      padding: 100px 200px;
      display: flex;

      .popup__text {
         margin: auto;
      }

   }

   .download {
      background-color: $color-text;
      color: $color-text;
   }
}